<?xml version="1.0"?>
<robot name="cleaner" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="common.xacro"/>
    <xacro:include filename="common_gazebo.xacro"/>
    <xacro:include filename="mobile_base_gazebo.xacro"/>
    <xacro:include filename="sensor_gazebo.xacro"/>

    <!-- İkisi de çalışıyor, ros2_control gerçek yazılıma daha
    yakın, diff drive ise gazebo ile daha uyumlu -->
    <xacro:include filename="ros2_control_gazebo.xacro"/>
    <!-- <xacro:include filename="diff_drive_gazebo.xacro"/> -->

</robot>