<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="red"> <color rgba="0.6 0 0 1"/> </material>
    <material name="green"> <color rgba="0 0.6 0 1"/> </material>
    <material name="blue"> <color rgba="0 0 0.6 1"/> </material>
    <material name="gray"> <color rgba="0.6 0.6 0.6 1"/> </material>
    <material name="black"> <color rgba="0 0 0 1"/> </material>
    <material name="white"> <color rgba="1 1 1 1"/> </material>


    <xacro:macro name="box_inertia" params="m x y z xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${m*(y*y+z*z)/12}" ixy="0" ixz="0"
                      iyy="${m*(x*x+z*z)/12}" iyz="0"
                      izz="${m*(x*x+y*y)/12}"/>
        </inertial>
    </xacro:macro>


    <xacro:macro name="cylinder_inertia" params="m r l xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${m*(3*r*r+l*l)/12}" ixy="0" ixz="0"
                      iyy="${m*(3*r*r+l*l)/12}" iyz="0"
                      izz="${m*r*r/2}"/>
        </inertial>
    </xacro:macro>


</robot>