<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="base_front">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="right_wheel">
    <material>Gazebo/Black</material>
    <!-- <mu>0.2</mu>
    <mu2>1.</mu2>
    <surface>
      <friction>
        <ode>
          <mu>0.2</mu>
          <mu2>1.</mu2>
        </ode>
      </friction>
    </surface> -->
  </gazebo>

  <gazebo reference="left_wheel">
    <material>Gazebo/Black</material>
    <!-- <mu>0.2</mu>
    <mu2>1.</mu2>
    <surface>
      <friction>
        <ode>
          <mu>0.2</mu>
          <mu2>1.</mu2>
        </ode>
      </friction>
    </surface> -->
  </gazebo>

  <gazebo reference="brush">
    <material>Gazebo/Blue</material>
    <mu>0.</mu>
    <mu2>0.</mu2>
    <surface>
      <friction>
        <ode>
          <mu>0.</mu>
          <mu2>0.</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

  <gazebo reference="base_scan">
    <material>Gazebo/Black</material>
  </gazebo>

</robot>