<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="nfr_common.xacro"/>
    <xacro:include filename="nfr_frictionless_wheel.xacro"/>
    <xacro:include filename="nfr_mecanum_wheel_l.xacro"/>
    <xacro:include filename="nfr_mecanum_wheel_r.xacro"/>
    <xacro:include filename="nfr_omni_wheel.xacro"/>
    <xacro:include filename="nfr_mini_omni_wheel.xacro"/>
    <xacro:include filename="nfr_odometry_pod.xacro"/>
    <xacro:include filename="nfr_structure.xacro"/>
    <xacro:include filename="nfr_traction_wheel.xacro"/>

    <xacro:include filename="nfr_omni_test.xacro"/>

</robot>