<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="nfr_common.xacro"/>
    <xacro:include filename="nfr_structure.xacro"/>

    <!-- basic wheels -->
    <xacro:include filename="wheels/nfr_frictionless_wheel.xacro"/>
    <xacro:include filename="wheels/nfr_traction_wheel.xacro"/>
    <!-- wheels with rollers -->
    <xacro:include filename="wheels/nfr_roller.xacro"/>
    <xacro:include filename="wheels/nfr_omni_wheel.xacro"/>
    <xacro:include filename="wheels/nfr_mini_omni_wheel.xacro"/>
    <xacro:include filename="wheels/nfr_mecanum_wheel.xacro"/>

    <xacro:include filename="nfr_odometry_pod.xacro"/>
</robot>